.list-group {
    list-style-type: none;
}

.list-item {
    padding: 1rem;
    font-size: 1.3rem;
}

.list-item:nth-child(odd) {
    background-color: rgb(247, 243, 243);
}

.input-container {
    display: flex;
    max-width: 300px;
}


.edit-form {
    display: flex;
    max-width: 600px;
}

.d-flex {
    display: flex !important;
}
 