body{
    background-image:url(../Bilder/sterne.png);
}

.Sterne{
    color: rgb(195, 223, 214);
}

.text{
    color:rgb(195, 223, 214) ;
    font-size:large;
}

img{
    width: 30cm;
   margin-top: 0.5cm;
   margin-left: 5cm;
   border-radius: 15px;
}


.hS{
    color: rgb(195, 223, 214);
}